.untouched{
    transition: 1s;
    color: blue;
}

.untouched:hover{
    color: purple;
}

a{
    transition: .3s;
    color: blue;
}

a:hover{
    color: yellow;
}

a:visited{
    color: purple;
}

p{
    transition: 1s;
    color: orange;
}

p:hover{
    color: red;
}

input[type=button]{
    color: orange;
    background-color: azure;
    transition: 0.3s;
}

input[type=button]:hover{
    background-color: deepskyblue;
    transform: scale(1.1);
    cursor: pointer;
}

input[type=button]:active{
    background-color: purple;
    transform: scale(0.8);
    box-shadow: 2px 2px 5px black;
}